.App {
  margin: 2vw;
}

.event-title {
  color: #000000;
  display: block;
  text-align: center;
  font-family: 'Mali', cursive;
  font-size: 6vw;
}

.event-date {
  text-align: center;
  border-top: 3px solid #fecd4c;
  border-bottom: 3px solid #fecd4c;
  color:#000000;
  font-family: 'Patrick Hand', cursive;
}

#event-list,
ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}
li {
  border: 1px solid #fecd4c;
  padding: 1em;
  margin: 1em;
  height: 200px;
  width: 250px;
  align-self: flex-end;
}

@media all and (max-width: 800px) {
  #event-list,
  li {
    width: 90%;
  }
}

body {
  background-color: #e0eefb;
  font-family: 'Overpass Mono', monospace;
}

